{lib_dirs, ["deps"]}.

{sub_dirs, [
    "plugins"
]}.

{erl_opts, [
    % native,
    debug_info,
    fail_on_warning
]}.

{cover_enabled, true}.
{cover_export_enabled, true}.

{deps, [
    {cowboy, ".*", {git, "git://github.com/ninenines/cowboy", {tag, "2.6.0"}}},
    {wsock, ".*", {git, "git://github.com/madtrick/wsock", {branch, "master"}}}
]}.
